language: node_js
sudo: 'false'
before_script:
  - npm install -g polymer-cli
  - polymer install --variants
  - >-
    npm run update-types && git diff --exit-code || (echo -e
    '\n\033[31mERROR:\033[0m Typings are stale. Please run "npm run
    update-types".' && false)
env:
  global:
    - secure: >-
        G0+f9oz2YfVzSNBetIkVqNFHaI/MyI6KwG3aUeP8AvCg8+73HgZBrdJ63rCO1HSAzHhdKpLS9CwntNQ5M/jz725Psb4WHspbqRX1ww5FThWCh8uo2DkWQ1EgxN35CGKK3g0SXMtmfJqGC1rNDmzCbCy0kZsZq9foIR3Q5erdB1Y=
    - secure: >-
        fqkVgsvrGDE0IhDQvAR68V3W1K0dll6vTVg7PnUptmQMDKgemAbH43LKA/4iD3jXuHnoAPmej2mNXV6RU9QHF/DMt9T42FTh6k4wJR39EKNbwxbteong3lmklX9ohJ96ppGSYPpceqP5NVoQE0GzPi8VTBPI060ss7fAw4vsdNQ=
node_js: '9'
addons:
  firefox: latest
  chrome: stable
script:
  - xvfb-run polymer test
  - |-
    >-
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then polymer test -s 'default';
    fi
dist: trusty
cache:
  directories:
    - node_modules
