/*
Copyright 2013 The Polymer Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/

:host {
  display: inline-block;
}

:host:focus {
  outline: none;
}

#toggleContainer {
  position: relative;
  width: 64px;
  height: 16px;
}

#toggleBar {
  position: absolute;
  top: 8px;
  left: 16px;
  height: 1px;
  width: 32px;
  background-color: rgba(149, 149, 149, 0.5);
  pointer-events: none;
}

#toggleRadio {
  position: absolute;
  left: 0;
  padding: 8px 48px 8px 0;
  margin: -8px -48px -8px 0;
  transition: -webkit-transform linear .08s;
  transition: transform linear .08s;
}

#toggleRadio[checked] {
  -webkit-transform: translate(48px, 0);
  transform: translate(48px, 0);
  padding: 8px 0 8px 48px;
  margin: -8px 0 -8px -48px;
}

#toggleRadio.dragging {
  -webkit-transition: none;
  transition: none;
}